<link rel="stylesheet" href="contato/style.css">
    <!-- Fontawesome icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />

     <!-- Seção de contato -->
    <section class="contact-section">
      <div class="contact-bg">
        <h3>Algum problema com o sistema</h3>
        <h2>Contato</h2>
        <div class="line">
          <div></div>
          <div></div>
          <div></div>
        </div>
        <p class="text">O sistema da NotionPet ainda está se adaptando e evoluindo, não deixe de entrar em contato para mostrar erros que podemos revisar para melhorar a sua experiência.</p>
      </div>

      <div class="contact-body">
        <div class="contact-info">
          <!-- Informações de contato -->
          <div>
            <span><i class="fas fa-mobile-alt"></i></span>
            <span>Telefone</span>
            <span class="text">(31)91234-5678</span>
          </div>
          <div>
            <span><i class="fas fa-envelope-open"></i></span>
            <span>E-mail</span>
            <span class="text">notionpet@gmail.com</span>
          </div>
          <div>
            <span><i class="fas fa-map-marker-alt"></i></span>
            <span>Endereço</span>
            <span class="text">242 Rua Magalhães Pinto, Minas Gerais, Brasil</span>
          </div>
          <div>
            <span><i class="fas fa-clock"></i></span>
            <span>Horários</span>
            <span class="text">Segunda - Sexta (9:00 AM - 5:00 PM)</span>
          </div>
        </div>

        <div class="contact-form">
          <form method="post" action="/contatos">
            <div>
              <input type="text" class="form-control" placeholder="Primeiro Nome" name="nome">
              <input type="text" class="form-control" placeholder="Sobrenome" name="sobrenome">
            </div>
            <div>
              <input type="email" class="form-control" placeholder="E-mail" name="email">
              <input type="text" class="form-control" placeholder="Telefone" name="telefone">
            </div>
            <textarea rows="5" placeholder="Mensagem" class="form-control" name="mensagem"></textarea>
            <button type="submit" class="send-btn" > Enviar Mensagem </button>
            <button class="send-btn"> <a href="/principal/"> Voltar ao inicio </a> </button> 
          </form>

          <div>
            <img src="contato/image/contact-png.png" alt="">
          </div>
        </div>
      </div>

    </section>
