 <link rel="stylesheet" href="meusPets/style.css"> 

 <header>
        <h1>Meus Pets</h1> <!-- Título da página -->
    </header>
    <main>
        <div class="gallery-container"> <!-- Contêiner da galeria de imagens -->
            <a href="#cobra" class="gallery-items"> <!-- Link para a imagem da cobra -->
                <img src="meusPets/img/cobra.jpg" alt="Cobra"> <!-- Imagem da cobra -->
            </a>
            <a href="meusPets/img/calopsita.jpg" class="gallery-items"> <!-- Link para a imagem da calopsita -->
                <img src="meusPets/img/calopsita.jpg" alt="Calopsita"> <!-- Imagem da calopsita -->
            </a>
            <a href="meusPets/img/coelho.jpg" class="gallery-items"> <!-- Link para a imagem do coelho -->
                <img src="meusPets/img/coelho.jpg" alt="Coelho"> <!-- Imagem do coelho -->
            </a>
            <a href="meusPets/img/tartaruga.jpg" class="gallery-items"> <!-- Link para a imagem da tartaruga -->
                <img src="meusPets/img/tartaruga.jpg" alt="Tartaruga"> <!-- Imagem da tartaruga -->
            </a>
        </div>        
    </main>
    <footer>
        <span>Copyright &copy; | NotionPet</span>
    </footer>