 <link rel="stylesheet" href="pesquisa/style.css" />
<link rel="stylesheet" href="pesquisa/search-box.css" />

 <section>
            <div class="circle"></div>
            <header>
                <a href="#"><img src="pesquisa/img/logo.png" alt="" class="logo"></a> <!-- Logo do NotionPet -->
                <nav class="navegation">
                    <ul>
                        <li><a href="#">Home</a></li> <!-- Link para a página inicial -->
                        <li><a href="#">Meu Pet</a></li> <!-- Link para a página do "Meu Pet" -->
                        <li><a href="#">Pesquisar</a></li> <!-- Link para a página de pesquisa -->
                        <li><a href="#">Contato</a></li> <!-- Link para a página de contato -->
                    </ul>
                </nav>
            </header>
 
            <main>
                <div class="content">
                    <div class="text">
                        <h3>Procure os dados do seu pet com uma palavra - chave</h3> <!-- Descrição do serviço NotionPet -->
                    </div>
                </div>

                <div class="search-container">
                    <label for="search-input" class="search-icon"></label>
                    <input type="text" class="search-input" id="search-input" required />
                </div>
            </main>
            
            <div class="boxImg">
                <img src="pesquisa/img/peixe.png" alt="" class="img1" style="width: 900px;">
            </div>        
        </section>