{{#if sucesso }}
  <div class="alert alert-success"  style="position: absolute; top: 0; left: 0; right: 0;">
    {{sucesso}}
  </div>
{{/if}}

{{#if erro}}
  <div class="alert alert-danger" role="alert"style="position: absolute; top: 0; left: 0; right: 0;">
    {{erro}}
  </div>
{{/if}}

{{#if alerta}}
  <div class="alert alert-warning" role="alert" style="position: absolute; top: 0; left: 0; right: 0;">
    {{alerta}}
  </div>
{{/if}}
